body {
	background: #000 url(../img/body.jpg) no-repeat 50% 0%;
	background-size: cover;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	color: #cfcfcf;
}

header {
	background-color: transparent;
	height: 200px;
}


h1, h2, h3, .top-bar {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: #fbfbec;
	text-transform: uppercase;
}

h1#logo {
	padding: 25px 4px 0 1px;
}

h1#logo a {
	background: url(../img/logo.png) no-repeat 0% 0%;
	display: block;
	width: 142px;
	height: 146px;
	overflow: hidden;
}

label {
	color: #b0acb0;
}

input, textarea {
	background: #000 !important;
	border: 1px solid #b0acb0 !important;
	padding: 2px !important;
	color: #b0acb0  !important;
	font-size: 0.8em !important;
}

textarea {
	height: 120px !important;
}

input[type="submit"] {
	padding: 4px !important;
	background: #c7b473 !important;
	color: #000  !important;
	border: 1px solid #000 !important;
	font-weight: bold;
}

input[type="submit"]:hover {
	background: #fbfbec !important;
	color: #000  !important;
	border: 1px solid #fbfbec !important;
	font-weight: bold;
}

.error {
	font-size: 0.7em;
	background-color: #b0acb0;
	border: 1px solid #b0acb0;
	color: #000;
	width: 100%;
}

h1#logo a span {
	display: none;
}

h1{
	font-size: 2.0em;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1.1em;
}

h4 {
	font-size: 0.8em;
	font-weight: bold;
	color: #fbfbec;
}

p {
	font-size: 0.8em;
	line-height: 1.3em;
}

p.leader {
	font-size: 0.85em;
	line-height: 1.6em;
	font-weight: bold;
}

small {
	font-size: 80%;
}

a {
	color: #c7b473;
}

a:hover {
	color: #fff;
}

a.more {
	padding-left: 35px;
	margin-bottom: 10px;
	display: block;
	height: 26px;
	overflow: hidden;
	line-height: 26px;
	text-decoration: none;
	font-size: 0.75em;
	font-weight: bold;
	color: #000;
	width: 110px;
	background: #faf9e9 url(../img/link-left.gif) no-repeat 0% 0%; /* fallback color */
	background: url(../img/link-left.gif) no-repeat 0% 0%, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,246,246,1)), color-stop(21%,rgba(212,215,219,1)), color-stop(49%,rgba(166,168,178,1)), color-stop(80%,rgba(212,215,219,1)), color-stop(100%,rgba(245,246,246,1))); /* Chrome,Safari4+ */
	background: url(../img/link-left.gif) no-repeat 0% 0%, -webkit-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(212,215,219,1) 21%,rgba(166,168,178,1) 49%,rgba(212,215,219,1) 80%,rgba(245,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
	background: url(../img/link-left.gif) no-repeat 0% 0%, -o-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(212,215,219,1) 21%,rgba(166,168,178,1) 49%,rgba(212,215,219,1) 80%,rgba(245,246,246,1) 100%); /* Opera 11.10+ */
	background: url(../img/link-left.gif) no-repeat 0% 0%, -ms-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(212,215,219,1) 21%,rgba(166,168,178,1) 49%,rgba(212,215,219,1) 80%,rgba(245,246,246,1) 100%); /* IE10+ */
	background: url(../img/link-left.gif) no-repeat 0% 0%, linear-gradient(to bottom,  rgba(245,246,246,1) 0%,rgba(212,215,219,1) 21%,rgba(166,168,178,1) 49%,rgba(212,215,219,1) 80%,rgba(245,246,246,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ); /* IE6-8 */

	border-radius: 4px;
}

a.more:hover {
	color: #fff;
}

dl {
	font-size: 0.8em;
 	width:100%;
 	overflow:hidden;
}

dl dd, dl dt {
	margin-bottom: 0;
}

dt {
 	float:left;
 	width:8%; 
}

dd {
 float:left;
 width:92%; 
}

.testimonials .orbit-container .orbit-timer {
	display: none;
}

.testimonials ul {
	list-style: none;
}

.testimonial {
    margin: 0;
    background: transparent;
    padding: 10px 35px;
    position: relative;
    color: #faf9e9;
    border: none;
    font-style: italic;
}

.testimonial p {
	line-height: 1.1em;
	font-size: 0.9em;
	color: #faf9e9;
}

.testimonial:before, .testimonial:after {
    content: "\201C";
    position: absolute;
    font-size: 50px;
    line-height: 1;
    color: #faf9e9;
    font-style: italic;
}

.testimonial:before {
    top: 0;
    left: 10px;
}

.testimonial:after {
    content: "\201D";
    right: 10px;
    bottom: -0.3em;
}


.testimonial-author {
    color: #fff;
    text-align: right;
    font-size: 0.8em;
}

article ul, article ol {
	font-size: 0.80em;
	margin-left: 1.0em;
}

article ol li {
	margin-bottom: 15px;
}

nav ul {
	margin: 0;
	list-style: none;
}

nav ul li {
	display: inline;
}

figure img {
	margin: 20px 0 5px 0;
}

figure img.top {
	margin-top: 0;
	vertical-align: top;
}

figcaption {
	font-size: 0.7em;
	text-align:left;
}

img.breathe {
	margin-bottom: 15px;
}

img.breathe_t {
	margin-top: 15px;
}

img.breathe_r {
	margin-right: 15px;
}

img.breathe_l {
	margin-left: 10px;
}

.collapse-left {
	padding-left:0;
}

.collapse-right {
	padding-right:0;
}

.collapse {
	padding-left:0;
	padding-right:0;
}

#top-links {
	overflow: hidden;
	margin-top: 26px;
}

#top-links li {
	background: url(../img/tl-divider.gif) no-repeat 0% 4px;
	float: left;
	margin: 0 0 0 -1px;
	padding: 0 8px 0 8px;
	line-height: 1.6em;
	font-size: 0.70em;
	text-transform: uppercase;
	color: #faf9e9;
}

#top-links li:first-child {
	padding-left:0;
}

#top-links li a {
	text-decoration: none;
	color: #b0acb0 !important;
}

#top-links li a:hover {
	text-decoration: underline;
}

img.bio {
	position: absolute;
	top: 30;
	right: 100;
}

a.lang {
	position: absolute;
	top: 25;
	right: 177;
}

/* Override foundation styles for main menu*/
.top-bar {
	background: none;
	margin-top:28px;
}

.top-bar-section ul {
	background: none;
}

.top-bar-section ul li {
	padding-right: 12px;
	text-align: center;
}

.top-bar-section ul li:last {
	padding-right: 0;
}

.top-bar-section li a:not(.button) {
	/*width: 100px;*/
	height: 47px;
	line-height: 48px;
	font-size: 1.0em;
	text-transform: uppercase;
	text-decoration: none;
	color: #faf9e9;
	border-top: 4px solid #000;
	background: none;
}

.top-bar-section ul li.active > a, .top-bar-section ul li.has_active > a {
	background: #faf9e9;
	border-top-color: #faf9e9;
	color: #000;
}

.top-bar-section li a:not(.button):hover {
    background: transparent; 
}

.top-bar-section .dropdown{
	background: #fbfbec;
}

.top-bar-section .dropdown li {
	background: url(../img/menu-line.gif) repeat-x 0% 100%;
	padding: 3px 4px;
}

.top-bar-section .dropdown li:last {
	background: none;
}

.top-bar-section .dropdown li a, .top-bar-section .dropdown li a:hover {
	background: transparent;
	height: auto;
	width: auto;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	line-height: 1.1em;
	font-size: 0.7em;
	border: none;
	color: #b0acb0;
	padding: 5px 3px 5px 12px;
}

.no-js .top-bar-section ul li:hover > a {
	background: #faf9e9;
	color: #000;
}

/* main contnnt areas*/
#content {
	background: url(../img/content.png) repeat-y 0% 0%;
	background-size: cover;
	padding: 43px 38px 61px 41px;
}

#content aside {
	padding-right:2.5em;
	padding-left:0;
	min-height: 100%;
}

#content aside .widget {
	margin-top: 11px;
	margin-bottom: 34px;
}

#social, .section_nav, .tag-filter {
	font-size: 0.80em;
	line-height: 1.385em;
}

#social ul li {
	display: block;
	background: url(../img/horizontal.gif) repeat-x 0% 100%;
	padding: 3px 0;
}

#social ul li:last {
	display: block;
	background: none;
}

#social ul li a {
	color: #b0acb0;
	text-decoration: none;
	margin-left: 8px;
}

#social ul li a:hover {
	color: #c7b473;
}

#bio {
	text-align: center;
	position: relative;
	bottom: 10px;
}

.section_nav ul li {
	display: block;
	background: url(../img/arrow.gif) no-repeat 0 8px;
	padding: 3px 0 3px 14px;
}

.section_nav ul li ul {
	margin-left: 0.25em;
}

.section_nav ul li ul li {
	display: block;
}

ul.link_list, ul.event_list  {
	margin: 0;
	list-style: none;
	font-size: 0.85em;
}

ul.link_list li{
	background: url(../img/arrow.gif) no-repeat 0% 10px;
	padding: 0 0 0 20px;
	line-height: 2.0em;
}

ul.event_list li {
	line-height: 2.0em;
	clear: both;
}

ul.event_list em.date {
	float: left;
	text-align: center;
	width: 45px;
	margin: 0 0 3px 0 ;
	font-size: 0.9em;
}

ul.event_list em.date span{
	display: block;
	font-size: 1.3em;
	margin-top: -12px;
}

ul.event_list em.past {
	text-decoration: line-through;
}

ul.event_list em.past>span {
	text-decoration: line-through;
}

ul.event_list div.desc {
	line-height: 2.0em;
}


#event_specs dt {
 	width:15%; 
}

#event_specs dd {
 width:85%; 
}

article.blog {
	background: url(../img/horizontal.gif) repeat-x 0% 100%;
	padding-bottom: 8px;
	margin-bottom: 12px;
}

#comments article {
	margin: 5px 0;
	padding: 3px 0;
	background: url(../img/horizontal.gif) repeat-x 0% 100%;
}

article .meta {
	font-size: 0.75em;
}

article .meta span {
	color: #fbfbec;
}

article.post {
	margin-bottom: 20px !important;
}

.contact-details dt {
	width: 30%;
}

.contact-details dd {
	width: 70%;
}

#ingredients ul {
	list-style: none;
	margin-left: 15px;
	font-size: 0.80em;
	font-style: italic;
}

section.product_list {
	/*background: url(../img/bg_product_list.png) no-repeat  0% 100%;
	background-size: contain;*/
	height: 170px;
}

section.product_list h3 {
	width: 150px;
	height: 41px;
	text-decoration: none;
}

section.product_list h3 a{
	display: block;
	text-align: center;
	color: #c7b473;
	position: relative;
	left:-10px;
}

section.product_list h3 a:hover {
	color: #fff;
}

section.product_list span{
	background: url(../img/arrow-bullet.gif) no-repeat;
	display: block;
	width: 23px;
	height: 23px;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	top: -18px;
	left: 36%;
}

section.product_category {
	padding-bottom: 40px;
}

section.product_category a img {
	margin: 4px 24px 0 0;
	filter: none;
	-webkit-filter: grayscale(0%);
	border: 1px solid #000;
}

section.product_category a img:hover {
	border: 1px solid #fff;
	/* grayscale image */
	filter: url(filters.svg#desaturate); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Google Chrome, Safari 6+ & Opera 15+ */
    /*fade filte in */
    -webkit-transition: 0.3s all ease-in;
  	-o-transition: 0.3s all ease-in;
  	-moz-transition: 0.3s all ease-in;
  	transition: 0.3s all ease-in;
}

footer {
	background: url(../img/footer.png) repeat-x 0% 100%;
	height: 51px;
	margin-top: 35px;
}

footer p {
	line-height: 70px;
}

.orbit-container {
	background-color: transparent;
}

.orbit-container .orbit-timer {
	display: none;
}

.reveal-modal {
	background: #000;
	color: #fff;
	border:; 1px solid #fff;
}