<!-- Begin header -->
<header class="row">
	<div class="large-3 columns">
		<h1 id="logo">
			<a href="/"><span>Enjouanisson</span></a>
		</h1>
	</div>
	<div class="large-9 columns">
		<div class="row">
			<nav id="top-links">
				<ul>
					{{ navigation:links group="top-links" }}
					<li><a href="tel:0033562071519">Call us</a> +33 (0)562 071 519</li>
				</ul>
			</nav>
		</div>
		<div class="row">
  			<nav class="top-bar" id="topmenu">
				<ul class="title-area">
					<li class="name"></li>
					<li class="toggle-topbar"><a href="#"></a></li>
				</ul>
 
				<section class="top-bar-section">
					<ul class="left">
						{{ navigation:links group="header" more_class="has-dropdown" class="active"}}
					</ul>
				</section>
			</nav>
		</div>
	</div>		
</header>
<!-- End header -->